<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Burger Joint!</title>

		<!-- Compiled and minified CSS -->
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

		<!-- burger_style.css -->
		<link rel="stylesheet" type="text/css" href="./assets/css/burger_style.css">
	</head>
	<body>
		{{{ body }}}
	</body>
</HTML>
